#header-bg {
    background-image: url(../images/festival.jpg);
    background-size: cover;
    display: flex;
    width: 100%;
    height: 600px;
}

#euy {background-image: url(../images/Eurythmics.jpg)};
#dm {background-image: url(../images/dm.jpg)};
#gnr {background-image: url(../images/Guns-N-Roses.jpg)};
#sag {background-image: url(../images/s&g.jpg)};
#jmj {background-image: url(../images/Jean-Michel-Jarre.jpg)};
#ml {background-image: url(../images/Meat-Loaf.jpg)};
#jf {background-image: url(../images/Clam-Fogerty.gif)};
#mo {background-image: url(../images/Mike-Oldfield.jpg)};
#mk {background-image: url(../images/mark-knopfler.jpg)};