@import 'includes/bg-pictures';

body {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 300px;
}

.contentcontainer {
    width: 100%;
    max-width: 1300px;
    margin-inline: auto;
}

i {
    font-size: x-large;
}
.big-titel {
    font-size: 4em;
    font-weight: bolder;
}
.med-titel {
    font-size: 1.5em;
    font-weight: bolder;
}
.small-titel {
    font-size: 0.8em;
    font-weight: bolder;
}
.small-text {
    font-size: 0.7em;
}

.img-band {
    height: 300px;
    background-position: top;
    background-size: cover;
}

#cpc {
    background-image: url(../images/clamrock.jpg);
    @extend .img-band;
    height: 22em;
}

.card-rev {
    height: 50px;
    margin-top: 20px;
    justify-content: center;
}